footer{
    background-color: var(--base-color);
    color: var(--text-color);
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    border-top: 0.5px solid var(--base-varient);
    margin-left: -7px;
    a{
        color: var(--text-color);
        text-decoration: none;
    }
}