.info{
    @include flex-center;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    flex-wrap: wrap;
    font-size: 1.40em;
    margin-left: 25%;
    max-width: 50%; /* Limit the box to 60% of the screen width */
    width: 100%;


    p{

        margin: 0;
        a{
            text-decoration: none;
            color: var(--a-color);
        }
    }
    
}

#links{
    margin-top: 10px;
    padding-left: 20px;
    margin-left: 25%;
    font-size: 1.40em;
    display: flex;
    gap: 20px;

    a{
        text-decoration: none;

        
    }

    h4{
        margin: 0;
        transition: 0.2s ease-in;
        color: var(--text-color);

        &:hover{
            color: var(--a-color);
        }

        
    }
}

