@media screen and (max-width: 768px){
    .info{
     max-width: 100%;
     margin: 0;
    } 

    #links{
        margin-left: 0;
    }
     
    body{
     font-size: 0.9em;
    }

    .container{
        margin-left: 0px;
        max-width: 100%;
    }


    .wrapper{
        display: flex;
        align-items: center;
        justify-content: center;
    }
}