@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar{
    align-items: center;
    margin: 0;
    display: flex;
    gap: 10px;

    .pfp-img{
        @include flex-center;
        img{
            margin-left: 10px;
            width: 50px;
            height: 50px;
            border-radius: 50%;
        }
    }

    h1{
        @include flex-center;
        margin: 0;
        font-weight: 300;
    }
}

#theme-switch{
    height: 30px;
    width: 30px;
    padding: 0;
    margin-top: 0;
    margin-right: 8px;
    border-radius: 50%;
    background-color: var(--base-varient);
    border: none;
    position: absolute;
    right: 0;
    @include flex-center;

    svg{
        fill: var(--primary-color);
    }

    svg:last-child{
        display: none;
    }
}


.darkmode{
    #theme-switch{
        svg:first-child{
            display: none;
        }

        svg:last-child{
            display: block;
        }
    }
}