.projects{    

    p{
    margin: 0;
    margin-top: 40px;
    padding-left: 20px;
    font-size: 1.8em;
    font-weight: 400;
    }
}


.container{
    margin-left: 20px;
    padding: 5px;
    @include flex-center;
    flex-wrap: wrap;
    max-width: 50%;
    width: 100%;
    gap: 30px;
    margin-bottom: 60px;
    .cards{
        transition: transform 0.3s ease, box-shadow 0.3s ease;
        cursor: pointer;
        border-radius: 10px;
        height: 200px;
        width: 200px;
        background-color: #cacbcf2a;

        a{
            background-color: black;
            text-align: center;
            text-decoration: none;
        }

        h4{
            color: var(--text-color);
            font-size: 1.4em;
            margin-bottom: 8px;
        }

        p{
            color: var(--text-color);
            padding: 10px;
            margin-top: 0;
            font-size: 1em;
        }


        &:hover {
            transform: scale(1.05);
            box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
        }
    }

}