:root{
    --base-color: white;
    --base-varient: #cacbcf;
    --text-color: #111528;
    --primary-color: #3a435d;
    --a-color: blue;
}

.darkmode{
    --base-color: #15202b;
    --base-varient: #cacbcf;
    --text-color: #ffffff;
    --primary-color: #3a435d;
    transition: background-color 0.5s ease, color 0.5s ease;
}


@import './navbar';
@import './info';
@import './media';
@import './projects';
@import './footer';
  
body{
    background-color: var(--base-color);
    color: var(--text-color);
    font-family: "Parkinsans", serif;
    transition: background-color 0.5s ease, color 0.5s ease;
    margin-right: 40px;
}

