:root {
  --base-color: white;
  --base-varient: #cacbcf;
  --text-color: #111528;
  --primary-color: #3a435d;
  --a-color: blue;
}

.darkmode {
  --base-color: #111114f7;
  --base-varient: #cacbcf;
  --text-color: #ffffff;
  --primary-color: #3a435d;
  --a-color: #00ffff;
  transition: background-color 0.5s ease, color 0.5s ease;
}

.navbar {
  align-items: center;
  margin: 0;
  margin-top: 20px;
  display: flex;
  gap: 10px;
}
.navbar .pfp-img {
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar .pfp-img img {
  margin-left: 10px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.navbar h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  font-family: "Ysabeau SC", serif;
  font-weight: 300;
}

#theme-switch {
  height: 30px;
  width: 30px;
  padding: 0;
  margin-top: 0;
  margin-left: auto;
  margin-right: 8px;
  border-radius: 50%;
  background-color: var(--base-varient);
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
#theme-switch svg {
  fill: var(--primary-color);
}
#theme-switch svg:last-child {
  display: none;
}

.darkmode #theme-switch svg:first-child {
  display: none;
}
.darkmode #theme-switch svg:last-child {
  display: block;
}

.info {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  flex-wrap: wrap;
  font-size: 1.6em;
  margin-top: 20px;
}
.info p {
  margin: 0;
  
}
.info p a {
  text-decoration: none;
  color: var(--text-color);
  transition: 0.2s ease-in-out;
}
.info p a:hover {
  color: var(--a-color);
}

#links {
  margin-top: 10px;
  padding-left: 20px;
  font-size: 1.4em;
  display: flex;
  gap: 20px;
}
#links a {
  text-decoration: none;
}
#links h4 {
  font-family: "JetBrains Mono", serif;
  margin: 0;
  transition: 0.2s ease-in;
  color: var(--text-color);
}
#links h4:hover {
  color: var(--a-color);
}
.projects p {
  margin-left: 20px;
  margin-top: 40px;
  font-size: 1.8em;
  font-weight: 200;
}

.container {
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  gap: 30px;
  margin-bottom: 100px;
}
.container .cards {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
  border-radius: 10px;
  height: auto;
  width: 200px;
  background-color: rgba(202, 203, 207, 0.1647058824);
}
.container .cards a {
  background-color: black;
  text-align: center;
  text-decoration: none;
}
.container .cards h4 {
  color: var(--text-color);
  font-size: 1.4em;
  margin-bottom: 8px;
}
.container .cards p {
  color: var(--text-color);
  padding: 10px;
  margin-top: 10px;
  font-size: 1em;
}
.container .cards:hover {
  transform: scale(1.05);
  box-shadow: 5px 5px 0 var(--text-color);
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--base-color);
  color: var(--text-color);
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.2);
  padding: 10px;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  margin-left: -7px;
}
footer a {
  color: var(--text-color);
  text-decoration: none;
}

footer #icons{
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 35px;
}

body {
  background-color: var(--base-color);
  color: var(--text-color);
  font-family: "Parkinsans", serif;
  transition: background-color 0.5s ease, color 0.5s ease;
}

h4{
  font-family: "JetBrains Mono", serif;
}
.wrapper1 {
  display: block;
  width: 50vw;
  margin: auto;
  height: auto;
}

@media screen and (max-width: 768px) {
  .info {
    max-width: 100%;
    margin: 0;
  }
  #links {
    margin-left: 0;
  }
  body {
    font-size: 0.9em;
  }
  .container {
    margin-left: 0px;
    max-width: 100%;
  }
  .wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .wrapper1 {
    display: block;
    width: 100%;
  }

  .container .cards {
    width: 45%;
  }
  
  .meow-video video{
    top: 22.6rem !important;
    left: 9.8rem !important;
  }
}

/*# sourceMappingURL=style.css.map */
